@media screen and (max-width: 1024px) {
    .parts {
        text-transform:uppercase
    }
    
    .actividades{
        display: flex;
        flex-flow: row nowrap;
        align-content: auto;
       

    }
    .header__icono{
        display: none;
    }
    .part-below{
        display: flex;
        flex-flow: column nowrap;
    }
    .parts {
        padding-top: 4rem;
        padding-bottom: 4rem;
        flex-direction: column; 
    }
    .turnos{
        margin-bottom: 1rem;

    }
   
    .grid-hijo {
        overflow: scroll;
        } 
    

}

@media screen and (max-width: 600px) {
   

    .navv{
       width: 127%;
   }

    .nav {
        flex-direction: row;

    }

    .nav_lista {
        display: none;
    }

    .header__icono {
        display: block;
        font-size: 32px;
        color: #ff487f;
    }

    .parts {
        padding-top: 4rem;
        padding-bottom: 4rem;
        flex-direction: column; 
    }

    .part-left, .part-right {
        width: 100%;
    }

    .footer {
        flex-direction: column;
        gap: 2rem;
    }
    .actividades{
        display: flex;
        flex-flow: column nowrap;
        align-content: auto;

    }
    .part-below{
        display: flex;
        flex-flow: column nowrap;
    }
    .turnos{
        margin-bottom: 1cm;
      
    }
    
    .juegos{
        margin-left: 1cm;
    }
    .comida{
        margin-left: 1cm;
    }
    .grid-hijo {
        overflow: scroll;
        
        } 
    
    
}