.section{
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    
    .section, .text-image{
        width: 50%;
    }
    .text-image{
        display: flex;
        justify-content: end;
    }
    .text-image{
        max-width: 600px;
    }
    .text-title{
        text-align: center;
        padding-top: 5rem;
    }
    .text-checkbox{
        margin-top: 5rem;
        margin-bottom: 2rem;
    }

}
.footer{
    .footer-dire{
        margin-left: 30cm;
        margin-bottom: 2cm;
    }
    .footer{
        padding: 2rem 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .footer-h1{
        font-weight: 300;
    
    }
    .footer-redes{
        text-decoration: none;
        color: #393d72;
    }
    .footer__copy{
        font-weight: 70;
        text-align: center;
    }
    
    }