*{ 
    padding: 0;
    margin: 0;
}
.body{
    font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;
    background-image: url("../img/background.jpg");
    .body-header{
        color: #393f70;
        margin-top: 15px;
        margin-left: 80px;
        font-size: smaller;
    }
}
.footer{
    display: flex;
    flex-flow: row nowrap;
}

@import "index";
@import "aboutUs";
@import "services";
@import "turnos";
@import "review";